* {
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.table {
  display: table;
  width: calc(100%);
  margin: 1rem;
  border: 1px solid gray;
}

.row {
  display: table-row;
}

.col {
  font-size: 10px;
  display: table-cell;
  padding: 0.5rem 1rem;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
